<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobFree</title>
    <script  src="/assets/index-bb9b0564.js"></script>
    <link rel="stylesheet" href="/assets/index-e2225887.css">
  </head>
  <body>
    <div id="app"></div>
    
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
<script>
//初始化一下就可以了，
let vConsole = new VConsole();
//你打印的数据 比如
console.log('test');
//就可像小程序一样的看了和调试了。
</script> -->
  </body>
</html>
