<div style="width:100%;padding:80px 15px;box-shadow: 1px 4px 8px 0 #dee3e8">
    <p style="margin: 0;font-size:25px "><strong><i>尊敬的用户,您好!</i> </strong> </p>
    <p style="margin: 0;margin-top:10px">这是<strong>系统安全验证</strong></p>
    <p style="margin: 0;margin-top:10px">您的账户<strong>{{email}}</strong>，正在进行<strong>{{action}}</strong></p>
    <p style="margin: 0;margin-top:10px">您的验证码是:<a href="#" style="color:skyblue;font-size:20px">{{verification_code}}</a></p>
    <p style="margin: 0;margin-top:10px">请勿泄露此验证码，有效期为三分钟!</p>
</div>